@{
    Layout = "~/Views/Stock/BarcodeRecords/_LayoutBarcodeRecords.cshtml";
    ViewData["Title"] = "BarcodeRecords";
}

@model BarcodeRecords

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Barkod Kayıtları</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/BarcodeRecords/BarcodeRecordsNew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni Barkod Kaydı</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

   <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Stok Kodu</th>
                        <th>Barkod</th>
                        <th>Tarih</th>
                        <th>Barkod Tipi</th>
                        <th>Ölçü Birimi</th>
                        <th>Açıklama</th>
                        <th>İşlem</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["STOK_KODU"]</td>
                            <td>@row["BARKOD"]</td>
                            <td>@row["TARIH"]</td>
                            <td>@row["BARKOD_TIPI"]</td>
                            <td>@row["OLCU_BIRIMI_KODU"]</td>
                            <td>@row["ACIKLAMA"]</td>
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editBarkodKayıt(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


            <form method="post" id="barcodeForm" name="barcodeForm">
                <input type="hidden" value="" name="Id" />
            </form>


        </div>



    </div>

</div>

<script>


    function editBarkodKayıt(id) {


        $("#barcodeForm input[name=stokId]").attr("value", id)

        $("#barcodeForm").attr("action", "/BarcodeRecords/BarcodeRecordsEdit").submit();

    }

</script>