@{
    Layout = "~/Views/Stock/EmployeeDefinition/_LayoutEmployeeDefinition.cshtml";
    ViewData["Title"] = "EmployeeDefinition";
}
@model EmployeeDefinition

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Personel Kayıtları</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/EmployeeDefinition/EmployeeDefinitionNew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Personel Kaydı</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Personel İsim</th>
                        <th>GSM No </th>
                        <th>E- Posta</th>
                        <th>Personel İsim</th>
                        <th>GSM No</th>
                        <th>E-Posta</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["Id"]</td>
                            <td>@row["PERSONEL_ISIM"]</td>
                            <td>@row["GSM"]</td>
                            <td>@row["E_POSTA"]</td>
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editPersonelKayit(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <form method="post" id="employeeForm" name="employeeForm">
                <input type="hidden" value="" name="Id" />
            </form>



        </div>



    </div>

</div>
<script>


    function editPersonelKayıt(id) {


        $("#employeeForm input[name=Id]").attr("value", id)

        $("#employeeForm").attr("action", "/EmployeeDefinition/EmployeeDefinitionEdit").submit();

    }

</script>
   