@{
    Layout = "~/Views/Accounting/OutgoingRemittance/_LayoutOutgoingRemittance.cshtml";
    ViewData["Title"] = "OutgoingRemittance";
}
@model dynamic

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-controller="OutgoingRemittance" asp-action="CreateOutgoingRemittance">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body"><label>GİDEN HAVALE</label></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="FIS_NO">Fiş No :</label>
                                                </div>
                                                <div class="col-md-3 text-start">
                                                    <input class="form-control " id="FIS_NO" name="FIS_NO" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="ALACAKLI_BANKA_HESAP_KODU">Alacaklı Banka Hesap Kodu :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <select id="ALACAKLI_HESAP_KODU" name="ALACAKLI_HESAP_KODU" class="form-control">
                                                        <option value="">Seçiniz</option>
                                                        @foreach (var item in ViewBag.data1)
                                                        {
                                                            <option value="@item.CARI_KODU">@item.UNVAN</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <label for="NITELIK">Nitelik:</label>
                                                    <div>
                                                        <label for="NITELIK">
                                                            <input type="radio" name="NITELIK" value="Havale" /> Havale
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label for="NITELIK">
                                                            <input type="radio" name="NITELIK" value="Eft" /> Eft
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="TARIH">Tarih :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="TARIH"  name="TARIH"type="number">
                                                </div>
                                            </div>
                                           
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="TUTAR">Tutar:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="TUTAR"  name="TUTAR"type="date">
                                                </div>
                                            </div>

                                          
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">

                    <div class="col-md-3 text-start">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">

        @if (ViewBag.data2 != null && ViewBag.data2.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fiş No</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Alacaklı Banka Hesap Kodu</th>
                        <th scope="col"> Nitelik</th>
                        <th scope="col">Tutar</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.data2)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.FIS_NO</td>
                            <td>@item.TARIH</td>
                            <td>@item.ALACAKLI_BANKA_HESAP_KODU</td>
                            <td>@item.NITELIK</td>
                            <td>@item.TUTAR</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Kayıt bulunamadı.</p>
        }

    </div>
</div>