@{
    Layout = "~/Views/Production/MachineIdentification/_LayoutMachineIdentification.cshtml";
    ViewData["Title"] = "MachineIdentification";
}

@model MachineIdentification

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Makine Tanımlama</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/MachineIdentification/MachineıdentificationNew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni Makine Kaydı</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Makine Kodu</th>
                        <th>Makine Adı</th>
                        <th>A/P</th>
                        <th>Açıklama</th>                        
                        <th>İşlem</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["MAKINE_KODU"]</td>
                            <td>@row["MAKINE_ADI"]</td>                            

                            @if (row["A_P"] == "false")
                            {
                                <td> Aktif </td>
                            }
                            else
                            {
                                <td> Pasif </td>
                            }
                            <td>@row["ACIKLAMA"]</td>                      
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editMakineKayıt(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


            <form method="post" id="machineForm" name="machineForm">
                <input type="hidden" value="" name="Id" />
            </form>


        </div>



    </div>

</div>

<script>


    function editMakineKayıt(id) {


        $("#machineForm input[name=Id]").attr("value", id)

        $("#machineForm").attr("action", "/MachineIdentification/MachineIdentificationEdit").submit();

    }

</script>