@{
    Layout = "~/Views/Production/MachineIdentification/_LayoutMachineIdentification.cshtml";
    ViewData["Title"] = "MachineIdentification";
}

<div class="container" >
    <div class="row">
        <div class="col-md-12">

            <form method="post" asp-controller="MachineIdentification" asp-action="CreateMachineIdentification">
                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <label>MAKİNE TANIMLAMA</label>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="MAKINE_KODU">Makine Kodu:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="MAKINE_KODU" NAME="MAKINE_KODU" type="text">
                                                </div>
                                              
                                            </div>

                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="MAKINE_SAYISI">Makine Sayısı:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="MAKINE_SAYISI" name="MAKINE_SAYISI" type="text">
                                                </div>
                                            </div>

                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="TARIH">Tarih:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="TARIH"  name="TARIH"type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="URETIM_SURESI">Üretim Süresi:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="URETIM_SURESI" name="URETIM_SURESI" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="HAZIRLIK_SURESI">Hazırlık Süresi:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="HAZIRLIK_SURESI" name="HAZIRLIK_SURESI" type="text">
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="MAKINE_ADI">Makine Adı:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="MAKINE_ADI" name="MAKINE_ADI" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col">
                                                  
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="true" name="A_P" id="A_P">
                                                        <label class="form-check-label" for="A_P">
                                                            A/P
                                                        </label>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="ACIKLAMA">Açıklama:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="ACIKLAMA" name="ACIKLAMA" type="text">
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row mt-3">



                                            <div class="row mt-2">
                                                <div class="col-md-1 text-start">
                                                    <button type="submit" class="btn btn-success">Ekle</button>
                                                </div>
                                            </div>

                                            <div class="col-md-1 text-start">
                                                <button type="button" class="btn btn-secondary">Sil</button>
                                            </div>
                                            <div class="col-md-1 text-start">
                                                <button type="button" class="btn btn-secondary">Güncelle</button>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row mt-3">
                <div class="col">

                    @if (ViewBag.data1 != null && ViewBag.data1.Count > 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Makine Kodu</th>
                                    <th scope="col">Makine Adı</th>
                                    <th scope="col">A_P</th>
                                    <th scope="col">Makine Sayısı</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Üretim Süresi</th>
                                    <th scope="col">Hazırlık Süresi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.data1)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>@item.MAKINE_KODU</td>
                                        <td>@item.MAKINE_ADI</td>
                                        <td>@item.A_P</td>
                                        <td>@item.MAKINE_SAYISI</td>
                                        <td>@item.ACIKLAMA</td>
                                        <td>@item.URETIM_SURESI</td>
                                        <td>@item.HAZIRLIK_SURESI</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Kayıt bulunamadı.</p>
                    }

                </div>
            </div>

        </div>
    </div>
</div>