@{
    Layout = "~/Views/Production/WorkstationIdentification/_LayoutWorkstationIdentification.cshtml";
    ViewData["Title"] = "WorkstationIdentification";
}

@model WorkstationIdentification

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>İş İstasyonu Tanımlama</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/WorkstationIdentification/WorkstationIdentificationnew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni İstasyon Kaydı</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>İstasyon Kodu</th>
                        <th>İstasyon Adı</th>
                        <th>Makine Sayısı</th>
                        <th>İşlem</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <th>@row["Id"]</th>
                            <td>@row["ISTASYON_KODU"]</td>
                            <td>@row["ISTASYON_ADI"]</td>
                            <td>@row["MAKINE_SAYISI"]</td>
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editIstasyonKayıt(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


            <form method="post" id="ıstasyonForm" name="ıstasyonForm">
                <input type="hidden" value="" name="Id" />
            </form>


        </div>



    </div>

</div>

<script>


    function editIstasyonKayıt(id) {


        $("#ıstasyonForm input[name=Id]").attr("value", id)

        $("#ıstasyonForm").attr("action", "/WorkstationIdentification/WorkstationIdentificationEdit").submit();

    }

</script>