@{
    Layout = "~/Views/Accounting/DebitMemo/_LayoutDebitMemo.cshtml";
    ViewData["Title"] = "DebitMemo";
}
@model dynamic

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-controller="DebitMemo" asp-action="CreateDebitMemo">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body"><label>BORÇ DEKONTU</label></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="BELGE_NO">Belge No :</label>
                                                </div>
                                                <div class="col-md-3 text-start">
                                                    <input class="form-control " id="BELGE_NO" name="BELGE_NO" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="CARI_HESAP_KODU">Cari Hesap Kodu :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <select id="CARI_KODU" name="CARI_KODU" class="form-control">
                                                        <option value="">Seçiniz</option>
                                                        @foreach (var item in ViewBag.data1)
                                                        {
                                                            <option value="@item.CARI_HESAP_KODU">@item.UNVAN</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mt-1">

                                                <div class="col-md-12">

                                                    <div>
                                                        <label for="A_D">
                                                            <input type="radio" name="NITELIK" value="Ana" /> Havale
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label for="A_D">
                                                            <input type="radio" name="NITELIK" value="Detay" /> Eft
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="DEKONT_TUTARI">Dekont Tutarı :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="DEKONT_TUTARI" name="DEKONT=TUTARI" type="text">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="TARIH">Tarih :</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="TARIH" name="TARIH" type="text">
                                                </div>
                                            </div>
                                           
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="ACIKLAMA">Açıklama :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="ACIKLAMA" name="TOPLAM_BORC" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="TOPLAM_BORC">Toplam Borç:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="TOPLAM_BORC" name="TOPLAM_BORC" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-start">
                        <div class="col-md-1 text-start">
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </div>

                        <div class="col-md-1 text-start">
                            <button type="submit" class="btn btn-success">Sil</button>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">

        @if (ViewBag.data1 != null && ViewBag.data1.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Belge Numarası</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Cari Hesap Kodu</th>
                        <th scope="col">Cari Hesap Adı</th>
                        <th scope="col"> Nitelik</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Dekont Tutarı</th>
                        <th scope="col">Toplam Borç</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.data1)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.BELGE_NO</td>
                            <td>@item.TARIH</td>
                            <td>@item.CARI_HESAP_KODU</td>
                            <td>@item.CARI_HESAP_ADI</td>
                            <td>@item.NITELIK<td>
                            <td>@item.ACIKLAMA</td>
                            <td>@item.DEKONT_TUTARI</td>
                            <td>@item.TOPLAM_BORC</td>
                            

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Kayıt bulunamadı.</p>
        }

    </div>
</div>
