
@{
    Layout = "~/Views/Stock/WareHouseOperations/_LayoutWarehouseOperations.cshtml";
    ViewData["Title"] = "WarehouseTransferReceipt";
}

 <div class="container" >
        <div class="row">
            <div class="col-md-12">
            <form method="post" asp-controller="WarehouseTransferReceipt" asp-action="CreateWarehouseTransferReceipt">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                               <div class="card-body">
                                   <div class="col-md-12"><label>DEPOLAR ARASI TRANSFER FİŞİ OLUŞTURMA</label></div>
                               </div> 
                            </div>
                            <div class="card">
                                <div class="card-body">
                                  <div class="row">
                                          <div class="col-md-3">
                                              <div class="row mt-2">
                                                  <div class="col-md-4">
                                                <label for="FIS_NO">Fiş No:</label>
                                                   </div>
                                                 <div class="col-md-5 text-start">
                                                <input class="form-control " id="FIS_NO" name="FIS_NO" type="text">
                                                 </div>
                                              </div>
                                          </div>


                                        
                                          <div class="col-md-3">
                                              <div class="row mt-2">
                                                  <div class="col-md-3">
                                                <label for="TARIH">Tarih:</label>
                                                   </div>
                                                 <div class="col-md-6 text-start">
                                                <input class="form-control " id="TARIH" name="TARIH" type="date">
                                                 </div>
                                              </div>
                                          </div>




                                          <div class="col-md-3">
                                              <label for="cars">Gönderen Depo:</label>

                                        <select id="GONDEREN_DEPO" name="GONDEREN_DEPO" class="form-control">
                                            <option value="">Seçiniz</option>
                                            @foreach (var item in ViewBag.data1)
                                            {
                                                <option value="@item.DEPO_KODU">@item.DEPO_ADI</option>
                                            }
                                        </select>
                                        </div>


                                          <div class="col-md-3">
                                              
                                              <label for="cars">Alan Depo:</label>

                                        <select id="ALAN_DEPO" name="ALAN_DEPO" class="form-control">
                                            <option value="">Seçiniz</option>
                                            @foreach (var item in ViewBag.data2)
                                            {
                                                <option value="@item.DEPO_KODU">@item.DEPO_ADI</option>
                                            }
                                        </select>
                                        
                                          </div>
                                          

                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <h5 class="card-header">Tanım</h5>
                                                    <div class="card-body">
                                                    
                                                        <div class="row">
                                               
                                                     <div class="col-md-3">
                                                        <div class="row mt-2">

                                              <label for="STOK_KODU">Stok Kodu:</label>

                                              <select id="STOK_KODU" name="STOK_KODU" class="form-control">
                                              <option value="">Seçiniz</option>
                                              @foreach (var item in ViewBag.data3)
                                                   {
                                              <option value="@item.STOK_ADI">@item.STOK_KODU</option>
                                                   }
                                              </select>
                                            </div>
                                        </div>

                                     
                                              
                                        <div class="col-md-4">
                                              <div class="row mt-2">
                                                  <div class="col-md-3">
                                                <label for="PARTI_NO">Parti No:</label>
                                                   </div>
                                                 <div class="col-md-6 text-start">
                                                 <input class="form-control " id="PARTI_NO" name="PARTI_NO" type="text">
                                                 </div>
                                              </div>
                                          </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <div class="col-md-3">
                                              <div class="row mt-4">
                                                  <div class="col-md-4">
                                                   <label for="ISLEM_MIKTARI">İşlem Miktarı:</label>
                                                   </div>
                                                 <div class="col-md-6 text-start">
                                                  <input class="form-control " id="ISLEM_MIKTARI" name="ISLEM_MIKTARI" type="text">
                                                 </div>
                                              </div>
                                          </div>

                                          <div class="col-md-3">
                                              <div class="row mt-3">
                                                  <div class="col-md-4">
                                                                        <label for="OLCU_BIRIMI_KODU">İşlem Birimi:</label>
                                                   </div>
                                                                    <div class="col-md-4">
                                                                        <select id="ISLEM_BIRIMI" name="ISLEM_BIRIMI" class="form-control">
                                                                            <option value="">Seçiniz</option>
                                                                            @foreach (var item in ViewBag.data4)
                                                                            {
                                                                                <option value="@item.OLCU_BIRIMI_KODU">@item.OLCU_BIRIMI_KODU</option>
                                                                            }
                                                                        </select>
                                                                    </div>

                                                                </div>

                                          </div>
                                           
                                          </div>
                                                </div>
                                         <div class="col-md-6">
                                                <div class="row mt-2">
                                                <div class="col-md-3">
                                                <label for="ACIKLAMA">Ne İçin Transfer Edilecek:</label>
                                                   </div>
                                                 <div class="col-md-6 text-start">
                                                 <input class="form-control " id="ACIKLAMA"  name="ACIKLAMA"type="text">
                                                 </div>

                                              </div>
                                            </div>
                                                    </div>
                                                </div>

                                            <div class="row mt-2">
                                                <div class="col-md-1 text-start">
                                                    <button type="submit" class="btn btn-success">Ekle</button>
                                                </div>
                                            </div>

                                                </div>
                                                
                                            </div>
                                        </div>
                                  </div>  
                                </div>
                            </div>

                        </div>

            </form>
                    </div>

            </div>
        </div>

