
@{
    Layout = "~/Views/Stock/WareHouseOperations/_LayoutWarehouseOperations.cshtml";
    ViewData["Title"] = "WarehouseTransferReceipt";
}

@model WarewhouseTransferReceipt

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Depo Transfer Kayıtları</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/WarehouseTransferReceipt/WarehouseTransferReceiptnew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni Transfer Kaydı</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Fiş No</th>
                        <th>Tarih</th>
                        <th>Gönderen Depo</th>
                        <th>Alan Depo</th>
                        <th>Stok Kodu</th>
                        <th>Ne için Transfer Edilecek</th>
                        <th>İşlem</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["FIS_NO"]</td>
                            <td>@row["TARIH"]</td>
                            <td>@row["GONDEREN_DEPO"]</td>
                            <td>@row["ALAN_DEPO"]</td>                                                  
                            <td>@row["STOK_KODU"]</td>
                            <td>@row["ACIKLAMA"]</td>
                            
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editDepoTransfer(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
       

            </table>

            <form method="post" id="transferForm" name="transferForm">
                <input type="hidden" value="" name="stokId" />
            </form>
           


        </div>



    </div>

</div>
<script>


    function editDepoTransfer(id) {


        $("#transferForm input[name=stokId]").attr("value", id)

        $("#transferForm").attr("action", "/warehouseTransferReceipt/WarehouseTransferReceiptEdit").submit();

    }

</script>















