
@{
    Layout = "~/Views/Stock/StockEntryExitMovements/_LayoutStockEntryExitMovements.cshtml";
    ViewData["Title"] = "StockEntryExitMovements";
}

@model StockInAndOut

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Stok Giriş Çıkış Hareketleri</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/StockEntryExitMovements/StockInAndOutNew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni Hareket Kaydı</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fiş No</th>
                        <th>Tarih</th>
                        <th>Depo</th>
                        <th>Stok Kodu</th>                       
                        <th>Not</th>
                        <th>İşlem</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["Id"]</td>
                            <td>@row["FIS_NO"]</td>
                            <td>@row["TARIH"]</td>
                            <td>@row["DEPO"]</td>                         
                            <td>@row["STOK_KODU"]</td>                            
                            <td>@row["NOT"]</td>
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editStokGirisCikis(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                    


            </table>

            <form method="post" id="stokGirisCıkısForm" name="stokGirisCıkısForm">
                <input type="hidden" value="" name="Id" />
            </form>


        </div>



    </div>

</div>
<script>


    function editStokGirisCikis(id) {


        $("#stokGirisCıkısForm input[name=Id]").attr("value", id)

        $("#stokGirisCıkısForm").attr("action", "/StockEntryExitMovements/StockEntryExitMovementsEdit").submit();

    }

</script>