@{
    Layout = "~/Views/Stock/StockEntryExitMovements/_LayoutStockEntryExitMovements.cshtml";
    ViewData["Title"] = "StockEntryExitMovements1";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Lisans_Tezi_Mvc
@model StockInAndOut


<div class="row" style="padding-top: 10px;">
    <div class="col-md-9">
        <form action="/StockEntryExitMovements/StockInAndOutSave" method="post" enctype="multipart/form-data" name="girisCikisForm" id="girisCikisForm">

            <div class="card card-primary card-outline">

                <div class="card-header">
                    <h3 class="card-title">Stok Giriş Çıkış Hareketleri</h3>
                    <ul class="nav nav-pills" style="float: right;">
                        <li class="nav-item"><a class="nav-link active" href="#genelTab" data-toggle="tab">Genel</a></li>
                        <li class="nav-item"><a class="nav-link " href="#detayTab" data-toggle="tab">Detay</a></li>
                    </ul>
                </div>


                <div class="card-body">
                    <div class="tab-content">
                        <div id="genelTab" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="FIS_NO">Fiş No</label>
                                        <input asp-is-disabled="@( (Model.Id == 0 ) ? false : true)" asp-for="FIS_NO" type="text" class="form-control ">
                                        <input asp-for="Id" style="display:none;" />
                                    </div>
                                    <div class="form-group">
                                        <label for="TARIH">Tarih</label>
                                        <input asp-for="TARIH" type="text" class="form-control ">
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <label for="DEPO">Depo:</label>
                                        </div>
                                        <div class="col-md-12 text-start">
                                            <select id="DEPO" name="DEPO" class="form-control">
                                                <option value="">Seçiniz</option>
                                                @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                                                {
                                                    <option value="@row["DEPO_KODU"]">@row["DEPO_ADI"] </option>
                                                }

                                            </select>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="NOT">Not</label>
                                        <input asp-for="NOT" type="text" class="form-control ">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="detayTab" class="tab-pane">

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <label for="stok_kodu">Stok kodu:</label>
                                        </div>
                                        <div class="col-md-12 text-start">
                                            <select id="STOK_KODU" name="STOK_KODU" class="form-control">
                                                <option value="">Seçiniz</option>
                                                @foreach (System.Data.DataRow row in Model.dt.Tables[1].Rows)
                                                {
                                                    <option value="@row["STOK_KODU"]">@row["STOK_ADI"] </option>
                                                }

                                            </select>

                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <label for="GELEN_MIKTAR">Gelen Miktar</label>
                                        <input asp-for="GELEN_MIKTAR" type="text" class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label for="PARTI_NO">Parti No</label>
                                        <input asp-for="PARTI_NO" type="text" class="form-control ">
                                    </div>
                                   

                           

             

                                </div>

                                <div class="col-md-5">
                                    
                                        <div class="form-group">
                                        <label for="CIKAN_MIKTAR">Çıkan Miktar</label>
                                        <input asp-for="CIKAN_MIKTAR" type="text" class="form-control ">
                                        </div>
                                   
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <label for="ISLEM_BIRIMI">İşlem Birimi:</label>
                                        </div>
                                        <div class="col-md-12 text-start">
                                            <select id="ISLEM_BIRIMI" name="ISLEM_BIRIMI" class="form-control">
                                                <option value="">Seçiniz</option>
                                                @foreach (System.Data.DataRow row in Model.dt.Tables[2].Rows)
                                                {
                                                    <option value="@row["OLCU_BIRIMI_KODU"]">@row["OLCU_BIRIMI_KODU"] </option>
                                                }

                                            </select>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    

            </div>


            <div class="card-footer text-right">
                <button type="button" class="btn btn-danger" id="stokGirisCikisSil">
                    <i class="fas fa-trash-alt"></i>
                    &nbsp;Sil
                </button>
                <button type="button" class="btn btn-primary" id="stokGirisCikiVazgec">
                    <i class="fa fa-backward"></i>
                    &nbsp;Vazgeç
                </button>
                <button type="submit" class="btn btn-primary" id="stokGirisCikiKaydet">
                    <i class="fa fa-save"></i>
                    &nbsp;Kaydet
                </button>
            </div>
            </form>
    </div>

</div>


<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        $(document).ready(function () {

            $("#stokGirisCikiVazgec").click(function () {

                $("#girisCikisForm").attr("action", "/Stock/StockEntryExitMovements").submit()

            });

            $("#stokGirisCikisSil").click(function () {

                $.confirm({
                    theme: 'supervan',
                    title: 'Uyarı!',
                    content: 'Kayıt Silinecek!',
                    buttons: {
                        evet: {
                            text: 'Evet',
                            action: function () {
                                $("#girisCikisForm").attr("action", "/Stock/StockEntryExitMovements/StockInAndOutDelete").submit()
                            }
                        },
                        hayir: {
                            text: 'Hayır',

                        }
                    }
                });
            });

        })

    })
</script>




























@*


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" int="formP" asp-controller="StockEntryExitMovements" asp-action="CreateStockEntryExitMovements">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12"><label>STOK GİRİŞ/ÇIKIŞ HAREKETLERİ</label></div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mt-2">
                                            <div class="col-md-4">
                                                <label for="FIS_NO">Fiş No:</label>
                                            </div>
                                            <div class="col-md-5 text-start">
                                                <input class="form-control " id="FIS_NO" name="FIS_NO" type="text">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="row mt-2">
                                            <div class="col-md-3">
                                                <label for="TARIH">Tarih:</label>
                                            </div>
                                            <div class="col-md-6 text-start">
                                                <input class="form-control " id="TARIH" name="TARIH" type="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mt-1">
                                            <label for="DEPO">Depo:</label>

                                            <select id="DEPO" name="DEPO" class="form-control">
                                                <option value="">Seçiniz</option>
                                                    @foreach (var item in ViewBag.data1)
                                                {
                                                <option value="@item.DEPO_KODU">@item.DEPO_ADI</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="row mt-2">
                                            <div class="col-md-3">
                                                <label for="NOT">Not:</label>
                                            </div>
                                            <div class="col-md-6 text-start">
                                                <input class="form-control " id="NOT" name="NOT" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <h5 class="card-header">Detay</h5>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="row mt-2">
                                                            <div class="col-md-4">


                                                                <label for="STOK_KODU">Stok Kodu:</label>
                                                                <select id="STOK_KODU" name="STOK_KODU" class="form-control">
                                                                    <option value="">Seçiniz</option>
                                                                      @foreach (var item in ViewBag.data2)
                                                                    {
                                                                    <option value="@item.STOK_KODU">@item.STOK_ADI</option>
                                                                    }
                                                                </select>

                                                            </div>


                                                            <div class="col-md-4">


                                                                <label for="PARTI_NO">Parti No:</label>

                                                                <div class="col-md-6 text-start">
                                                                    <input class="form-control " id="PARTI_NO" name="PARTI_NO" type="NUMBER">
                                                                </div>

                                                            </div>


                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="row mt-2">
                                                            <div class="col-md-4">


                                                                <label for="GELEN_MIKTAR">Gelen Miktar:</label>

                                                                <div class="col-md-6 text-start">
                                                                    <input class="form-control " id="GELEN_MIKTAR" name="GELEN_MIKTAR" type="NUMBER">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-4">


                                                                <label for="CIKAN_MIKTAR">Çıkan Miktar:</label>

                                                                <div class="col-md-6 text-start">
                                                                    <input class="form-control " id="CIKAN_MIKTAR" name="CIKAN_MIKTAR" type="NUMBER">
                                                                </div>

                                                            </div>

                                                            <div class="col-md-4">

                                                                <div class="col-md-4">
                                                                    <label for="ISLEM_BIRIMI">İşlem Birimi:</label>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <select id="ISLEM_BIRIMI" name="ISLEM_BIRIMI" class="form-control">
                                                                        <option value="">Seçiniz</option>
                                                                           @foreach (var item in ViewBag.data3)
                                                                        {
                                                                        <option value="@item.OLCU_BIRIMI_KODU">@item.OLCU_BIRIMI_KODU</option>
                                                                        }
                                                                    </select>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-1 text-start">
                                                    <button type="submit" class="btn btn-success">Ekle</button>
                                                </div>
                                                <div class="col-md-1 text-start">
                                                    <button type="submit" class="btn btn-success" int="silP">Sil</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <div class="row mt-3">
                <div class="col">
                    
                    @if (ViewBag.data5 != null && ViewBag.data5.Count > 0)
                    {
                    <table class="table">
                    <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fiş No</th>
                    <th scope="col">Tarih</th>
                    <th scope="col">Depo</th>
                    <th scope="col">Not</th>
                    <th scope="col">Stok Kodu</th>
                    <th scope="col">Parti No</th>
                    <th scope="col">Gelen Miktar</th>
                    <th scope="col">Çıkan Miktar</th>
                    <th scope="col">İşlem Birimi</th>

                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in ViewBag.data5)
                    {
                    <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.FIS_NO</td>
                    <td>@item.TARIH</td>
                    <td>@item.DEPO</td>
                    <td>@item.[NOT]</td>
                    <td>@item.STOK_KODU</td>
                    <td>@item.PARTI_NO</td>
                    <td>@item.GELEN_MIKTAR</td>
                    <td>@item.CIKAN_MIKTAR</td>
                    <td>@item.ISLEM_BIRIMI</td>



                    </tr>
                    }
                    </tbody>
                    </table>
                    }
                    else
                    {
                    <p>Kayıt bulunamadı.</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        $(document).ready(function () {



            $("#silP").click(function (e) {
                e.preventDefault();


                $.confirm({
                    theme: 'supervan',
                    title: 'Uyarı!',
                    content: 'İşlem Silinecek!',
                    buttons: {
                        evet: {
                            text: 'Evet',
                            action: function () {
                                $("#formP").attr("action", "/Stock/StockEntryExitMovements/StockEntriyExitMovementsDelete").submit()
                            }
                        },
                        hayir: {
                            text: 'Hayır',

                        }
                    }
                });

            });

        })

    })
</script>
*@