@{
    Layout = "~/Views/Production/ProductionOrderEntry/_LayoutProductionOrderEntry.cshtml";
    ViewData["Title"] = "ProductionOrderEntry";
}

@model ProductionOrderEntry

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Üretim Emri Girişi</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/ProductionOrderEntry/ProductionOrderEntrynew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni Üretim Girişi</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Üretim Emri No</th>
                        <th>Tarih</th>
                        <th>Stok için Üretim</th>
                        <th>Sipariş İçin Üretim</th>
                        <th>Stok kodu</th>
                        <th>İmalat Teslim Tarihi</th>
                        <th>İşlem</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <th>@row["Id"]</th>
                            <th>@row["URETIM_EMRI_NO"]</th>
                            <th>@row["TARIH"]</th>
                            <th>@row["STOK_ICIN_URETIM"]</th>
                            <th>@row["SIPARIS_ICIN_URETIM"]</th>
                            <td>@row["STOK_KODU"]</td>
                            <td>@row["IMALAT_TESLIM_TARIHI"]</td>
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editUretimEmriKayıt(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


            <form method="post" id="uretimEmriForm" name="uretimEmriForm">
                <input type="hidden" value="" name="Id" />
            </form>


        </div>



    </div>

</div>

<script>


    function editUretimEmriKayıt(id) {


        $("#uretimEmriForm input[name=Id]").attr("value", id)

        $("#uretimEmriForm").attr("action", "/ProductionOrderEntry/ProductionOrderEntryEdit").submit();

    }

</script>