@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "Stoklar";
}
@model StockCardProcess

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                        <h1>Stok Kartlarııı</h1>
                                    </div>

                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item">
                                            <form action="/Stock/StockCardNew" method="post" >
                                                    <button type="submit" class="btn btn-block btn-success">Yeni Stok Kartı</button>
                                                </form>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">        
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Stok Kodu</th>
                        <th>Stok Adı</th>
                        <th>Tedarikçi</th>
                        <th>Depo Adı</th>
                        <th>Adet</th>
                        <th>Brim</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["STOK_KODU"]</td>
                            <td>@row["STOK_ADI"]</td>
                            <td>@row["UNVAN"]</td>
                            <td>@row["DEPO_ADI"]</td>
                            <td>@row["MIKTAR"]</td>
                            <td>@row["OLCU_BIRIMI_ADI"]</td>
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editStokKart(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <form method="post" id="stokKartForm" name="stokKartForm">
                <input type="hidden" value="" name="stokId" />
            </form>
        </div>
   </div>



</div>


 <script>


    function editStokKart(id) {
        

        $("#stokKartForm input[name=stokId]").attr("value", id)

        $("#stokKartForm").attr("action", "/Stock/StockCardEdit").submit();

    }

</script>