@{
    Layout = "~/Views/Stock/AccountingDetailCodeEntry/_LayoutAccountingDetailCodeEntry.cshtml";
    ViewData["Title"] = "AccountingDetailCode";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Lisans_Tezi_Mvc


@model Accounting_Detail_Code_Entry

<div class="row" style="padding-top: 10px;">
    <div class="col-md-9">
        <form action="/AccountingDetailCodeEntry/AccountingDetailCodeSave" method="post" enctype="multipart/form-data" name="accountingForm" id="accountingForm">

            <div class="card card-primary card-outline">

                <div class="card-header">
                    <h3 class="card-title">Muhasebe Kod Kayıtları</h3>
                    <ul class="nav nav-pills" style="float: right;">
                        <li class="nav-item"><a class="nav-link active" href="#tanımTab" data-toggle="tab">Tanım</a></li>
                        
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div id="tanımTab" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-5">
                           
               
                                   <div class="form-group">
                                        <label for="MUHASEBE_KODU">Muhasebe Kodu</label>
                                        <select asp-for="MUHASEBE_KODU" class="selectpicker form-control show-tick" data-live-search="true" data-header=" muhasebe " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                                            {
                                                <option value="@row["MUHASEBE_KODU"]"  data-subtext="@row["MUHASEBE_ADI"]">@row["MUHASEBE_KODU"]</option>
                                            }
                                        </select>
                                    </div>
                                   <div class="form-group">
                                        <label for="ALIS_HESABI">Alış Hesabı</label>
                                        <select asp-for="ALIS_HESABI" class="selectpicker form-control show-tick" data-live-search="true" data-header=" muhasebe " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                                            {
                                                <option value="@row["MUHASEBE_KODU"]" data-subtext="@row["MUHASEBE_ADI"]">@row["MUHASEBE_KODU"] </option>
                                            }
                                        </select>
                                    </div>
           

                                    
                                   <div class="form-group">
                                        <label for="ALISTAN_IADE_HESABI">Alıştan İade Hesabı:</label>
                                        <select asp-for="ALISTAN_IADE_HESABI" class="selectpicker form-control show-tick" data-live-search="true" data-header=" muhasebe " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                                            {
                                                <option value="@row["MUHASEBE_KODU"]" data-subtext="@row["MUHASEBE_ADI"]">@row["MUHASEBE_KODU"] </option>
                                            }
                                        </select>
                                    </div>
                         
                                    

                                    
                                    <div class="form-group">
                                        <label for="SATIS_HESABI">Satış Hesabı</label>
                                        <select asp-for="SATIS_HESABI" class="selectpicker form-control show-tick" data-live-search="true" data-header=" Depo " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                                            {
                                                <option value="@row["MUHASEBE_KODU"]" data-subtext="@row["MUHASEBE_ADI"]">@row["MUHASEBE_KODU"] </option>
                                            }
                                        </select>
                                    </div>
   
                                    
                                   <div class="form-group">
                                        <label for="SATISTAN_IADE_HESABI">Satıştan İade Hesabı:</label>
                                        <select asp-for="SATISTAN_IADE_HESABI" class="selectpicker form-control show-tick" data-live-search="true" data-header=" muhasebe " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                                            {
                                                <option value="@row["MUHASEBE_KODU"]" data-subtext="@row["MUHASEBE_ADI"]">@row["MUHASEBE_KODU"] </option>
                                            }
                                        </select>
                                    </div>
                                
                  
                                </div>

                             
                            </div>

                        </div>
                    </div>

                </div>

            </div>

                <div class="card-footer text-right">
                    <button type="button" class="btn btn-danger" id="accountingDetailSil">
                        <i class="fas fa-trash-alt"></i>
                        &nbsp;Sil
                    </button>
                    <button type="button" class="btn btn-primary" id="accountingDetailVazgec">
                        <i class="fa fa-backward"></i>
                        &nbsp;Vazgeç
                    </button>
                    <button type="submit" class="btn btn-primary" id="accountingDetailKaydet">
                        <i class="fa fa-save"></i>
                        &nbsp;Kaydet
                    </button>
                </div>

         

        </form>
    </div>
</div>




<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        $(document).ready(function () {

            $("#accountingDetailVazgec").click(function () {

                $("#accountingForm").attr("action", "/Stock/AccountingDetailCodeEntry").submit()

            });

            $("#accountingDetailSil").click(function () {

                $.confirm({
                    theme: 'supervan',
                    title: 'Uyarı!',
                    content: 'Muhasebe Kaydı Silinecek!',
                    buttons: {
                        evet: {
                            text: 'Evet',
                            action: function () {
                                $("#accountingForm").attr("action", "/AccountingDetailCodeEntry/AccountingDetailCodeDelete").submit() 
                            }
                        },
                        hayir: {
                            text: 'Hayır',

                        }
                    }
                });
            });

        })

    })
</script>

