@{
    Layout = "~/Views/Stock/AccountingDetailCodeEntry/_LayoutAccountingDetailCodeEntry.cshtml";
    ViewData["Title"] = "AccountingDetailCodeEntry";
}

@model Accounting_Detail_Code_Entry

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Muhasebe Kod Kayıtları</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/AccountingDetailCodeEntry/AccountingDetailCodeNew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni Muhasebe Kodu</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
        </div>


   <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Muhasebe Kodu</th>
                        <th>Alış Hesabı</th>
                        <th>Alıştan İade Hesabı</th>
                        <th>Satış Hesabı</th>
                        <th>Satıştan İade Hesabı</th>
                        <th>İşlem</th>
                    
                    </tr>
                </thead>

                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["MUHASEBE_KODU"]</td>
                            <td>@row["ALIS_HESABI"]</td>
                            <td>@row["ALISTAN_IADE_HESABI"]</td>
                            <td>@row["SATIS_HESABI"]</td>
                            <td>@row["SATISTAN_IADE_HESABI"]</td>
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editAccountingDetail(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


            <form method="post" id="accountingForm" name="accountingForm">
                <input type="hidden" value="" name="Id" />
            </form>


        </div>



</div>
</div>

<script>


    function editAccountingDetail(id) {


        $("#accountingForm input[name=Id]").attr("value", id)

        $("#accountingForm").attr("action", "/AccountingDetailCodeEntry/AcountingDetailCodeEdit").submit();

    }

</script>