@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "StockCardEdit";

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StockCardProcess



<div class="row" style="padding-top: 10px;">
    <!-- left column -->
    <div class="col-md-9">
        <!-- form start -->
        <form action="/Stock/StockCardSave" method="post" enctype="multipart/form-data" name="yoneticiCRUDform" id="yoneticiCRUDform">
            <div class="card card-primary card-outline">
                <!-- card-header -->
                <div class="card-header">
                    <h3 class="card-title">Stok Kart</h3>
                    <ul class="nav nav-pills" style="float: right;">
                        <li class="nav-item"><a class="nav-link active" href="#genelTab" data-toggle="tab">Genel</a></li>
                        <li class="nav-item"><a class="nav-link" href="#fiyatTab" data-toggle="tab">Fiyat</a></li>
                    </ul>
                </div>
                <!-- /.card-header -->

                <!-- card-body -->
                <div class="card-body">
                    <div class="tab-content">
                        <div id="genelTab" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="STOK_KODU">Stok Kodu</label>
                                        <input id="STOK_KODU" name="STOK_KODU" @(Model.Id == 0 ? "" : "readonly")  type="text" class="form-control " placeholder="0000000001">
                                    </div>
                                    <div class="form-group">
                                        <label for="STOK_ADI">Stok Adi</label>
                                        <input id="STOK_ADI" name="STOK_ADI" type="text" class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label for="RISK_SURESI">Risk Süresi</label>
                                        <input id="RISK_SURESI" name="RISK_SURESI" type="text" class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label>Zaman Brimi</label>
                                        <select id="ZAMAN_BIRIMI" name="ZAMAN_BIRIMI" class="selectpicker form-control show-tick" data-live-search="true" data-header=" Zamanlar  " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables["zamanlar"].Rows)
                                            {
                                                <option value="@row["ID"]">@row["ADI"] </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-select-label" for="MuhasebeKodu">Muhasebe Kodu</label>
                                        <select id="MUHASEBE_ID" name="MUHASEBE_ID" class="selectpicker form-control show-tick" data-live-search="true" data-header=" Muhasebe Kodu  " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables["muhasebeKodllari"].Rows)
                                            {
                                                <option value="@row["Id"]" data-subtext="@row["MUHASEBE_ADI"]">@row["MUHASEBE_KODU"] </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="stokDepoAdi">Depo Adı</label>
                                        <select id="DEPO_ID" name="DEPO_ID" class="selectpicker form-control show-tick" data-live-search="true" data-header=" Depo " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables["depolar"].Rows)
                                            {
                                                <option value="@row["Id"]" data-subtext="@row["DEPO_KODU"]">@row["DEPO_ADI"] </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="CARI_ID">Cari/Satici Kodu</label>
                                        <select id="CARI_ID" name="CARI_ID" class="selectpicker form-control show-tick" data-live-search="true" data-header=" Cariler " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables["cariler"].Rows)
                                            {
                                                <option value="@row["Id"]" data-subtext="@row["CARI_KODU"]">@row["UNVAN"] </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="EN">En</label>
                                                <input id="EN" name="EN" type="text" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="BOY">Boy</label>
                                                <input id="BOY" name="BOY" type="text" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="YUKSEKLIK">Yükseklik</label>
                                                <input id="YUKSEKLIK" name="YUKSEKLIK" type="text" class="form-control ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="MIKTAR">Miktar</label>
                                                <input id="MIKTAR" name="MIKTAR" type="text" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="MIKTAR_BIRIM_ID">Birimi</label>
                                                <select id="MIKTAR_BIRIM_ID" name="MIKTAR_BIRIM_ID" class="selectpicker form-control show-tick" data-live-search="true" data-header=" Birimler " title="Seçiniz.">
                                                    <option value="Seçiniz" selected>Seçiniz.</option>
                                                    @foreach (System.Data.DataRow row in Model.dt.Tables["birimler"].Rows)
                                                    {
                                                        <option value="@row["Id"]">@row["OLCU_BIRIMI_ADI"] </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="fiyatTab" class="tab-pane ">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="SATIS_FIYAT">Satis Fiyatı</label>
                                        <input id="SATIS_FIYAT" name="SATIS_FIYAT"  type="text" class="form-control " >
                                    </div>
                                </diV>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="SATIS_FIYAT_KDY">Satis Fiyatı KDV</label>
                                        <input id="SATIS_FIYAT_KDY" name="SATIS_FIYAT_KDY"  type="text" class="form-control " >
                                    </div>
                                </diV>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="ALIS_FIYAT">Alış Fiyatı</label>
                                        <input id="ALIS_FIYAT" name="ALIS_FIYAT"  type="text" class="form-control " >
                                    </div>
                                </diV>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="ALIS_FIYAT_KDY">Alış Fiyatı KDV</label>
                                        <input id="ALIS_FIYAT_KDY" name="ALIS_FIYAT_KDY"  type="text" class="form-control " >
                                    </div>
                                </diV>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
             
                <!-- card-footer -->
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-danger" id="cariKartSil">
                        <i class="fas fa-trash-alt"></i>
                        &nbsp;Sil
                    </button>
                    <button type="button" class="btn btn-primary" id="cariKartVazgec">
                        <i class="fa fa-backward"></i>
                        &nbsp;Vazgeç
                    </button>
                    <button type="submit" class="btn btn-primary" id="cariKartKaydet">
                        <i class="fa fa-save"></i>
                        &nbsp;Kaydet
                    </button>
                </div>
                <!-- //.card-footer -->
            </div>

        </form>
    </div>
</div>

